$color-white: #fff;
$color-light-gray1: #e4e4e4;
$color-dark-gray: rgb(54,54,54);
$color-red: rgb(219, 69, 83);
$color-light-gray2: rgb(221, 221, 221);
$color-black: #000;

$font-header: "Courier New", Courier, monospace;
$font-normal: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$border: 1px solid #cacaca;
$border-table: 1px solid #000;